//
// Developed by Dextra Technologies www.dextratech.com
// This is a copy for JUnit4RC. Make changes to fix to an actual testsuite for the API
//
package testLayouts;
import junit.framework.Test;
import junit.framework.TestSuite;

public class TestSuiteLayout_JUnit3RC {

	public static Test suite() {
		TestSuite suite = new TestSuite();
		suite.addTestSuite(testSet1.class);
		return suite;
	}

	public static void main(String[] args) {
		junit.textui.TestRunner.run(suite());
	}
}
