//
// Developed by Dextra Technologies www.dextratech.com
//
package $testSuitePackageName;

import org.junit.runner.RunWith;
import org.junit.runners.Suite;
import org.junit.runners.Suite.SuiteClasses;

@RunWith(Suite.class)
@SuiteClasses({ 
#foreach( $testClassName in $testClassNameList )
	#if( $velocityCount == $testClassNameList.size())
	$testClassName
	#else
	$testClassName,
	#end
#end 
})
public class $testSuiteClassName {
}
