<?xml version="1.0" encoding="UTF-8"?>
<configuration xmlns="http://www.dextratech.com/dtf/configuration"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.dextratech.com/dtf/configuration ../../src/test/resources/configuration.xsd ">
<!-- 
Developed by Dextra Technologies www.dextratech.com 
-->

	<appUrl>http://localhost:9966/petclinic/</appUrl>
	<browser name="*googlechrome" executablePath="E:\\dev\\projects\\titulacion\\sources\\chrome-drivers\\chromedriver.exe"/>
	<timeout>5000</timeout>
	<speed>500</speed>
	
	<testsuite name="find-owners" run="true" fileName="findOwners_v2.xml" dbRestore="false" dbSnapshot="false"/>
	
	<testsuite name="validations" run="false" fileName="test-combinations/fields_and_validations.xml"/>
	
	<testsuite name="ordering1xx" run="false" fileName="ordering/order1.xml"/>
	
	<testsuite name="ordering2Z" run="false" fileName="ordering/order2.xml"/>
	
	<testsuite name="ordering3F" run="false" fileName="ordering/order3.xml"/>
	
	<testsuite name="testing_folder" run="false" fileName="test-folfer/tf.xml" dbRestore="false" dbSnapshot="false"/>
	
	<testsuite name="testOnload" run="false" fileName="test-onload.xml" dbRestore="false" dbSnapshot="false"/>
	
</configuration>
